/*
Layout: contains all the CSS that handles the layout, such as the container 
and an grid system

*/
@mixin desktop {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 600px) {
        @content;
    }
}

body {
    background: black;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    justify-content: space-evenly;
    color: white;

    h1 {
        padding-top: 20px;
    }

    .posts {
        margin-top: 15px;
        padding-right: 17px;
        border-radius: 4px;

    }

    @include tablet {

        flex-direction: row;
        padding-right: 13px;
        margin-left: 125px;
        padding-top: 370px;

     .display {
         
        margin-right: 250px;
        margin-bottom: 30px;
        

     }

    }

    @include desktop {
        padding-right: 400px;
        

    }
        }

     

  

    #my-select-menu {
        

        @include tablet {
            
    
        }
    
        @include desktop {
    
        }

    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 160px;
        justify-content: space-evenly;
        background: black;
        color: #c2c2c2;

        @include tablet {
            // margin-bottom: 10px;
            padding-top: 350px;
    
        }
    
        @include desktop {
    
        }
    }


  


// .loader {
//     height: 5px;
//     width: 5px;
// }




// $font-size: 2rem;
// $brand-color: #f563d8;
// @mixin tablet {
//     @media (min-width: 600px) {
//         @content;
//     }
// }
// @mixin desktop {
//     @media (min-width: 1024px) {
//         @content;
//     }
// }
// .main-navigation{
//     @include tablet {
//         font-size: 3em;
//     }
//     font-size: $font-size;
//     ul {
//         font-size: $font-size;
//         li {
//             color: $brand-color;
//             @include tablet {
//                 color: black;
//             }
//             @include desktop {
//                 color: white;
//             }
//             &:hover {
//                 font-size:2em;
//             }
//         }
//     }
// }
// %message {
//     border: 3px solid;
//     background-color: red;
// }
// .success {
//     @extend %message;
//     background-color: green;
// }
// body {
//     background: purple;
//     @include desktop {
//         background-color: green;
//     }
// }




